---
layout: default
---
<h1>{{ page.cve | escape }} - {{ page.title | escape }}</h1>

{% assign team = site.team | map: "name" -%}

<table>
	<tbody>
	    <tr>
			<td> CVE </td><td> {{ page.cve | cve }} </td>
		</tr>
		<tr>
			<td> Discovered by </td>
			<td>
				<ul>
					{% for r in page.discovered_by -%}
						<li>
							{% if team contains r %}
								<a href='https://www.divd.nl/team/{{ r }}/'>{{ r }}</a>
							{% else %}
								{{ r }}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		{% if page.reseachers %}
			<tr>
				<td> (Additional) researcher(s) </td>
				<td>
					<ul>
						{% for r in page.reseachers -%}
							<li>
								{% if team contains r %}
									<a href='https://www.divd.nl/team/{{ r }}/'>{{ r }}</a>
								{% else %}
									{{ r }}
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% endif %}
		{% if page.products[0] %}
			<tr>
				<td> Products </td>
				<td> 
					<ul>
					{% for p in page.products %}
						<li>{{ p | escape }}</li>
					{% endfor %} 
				</td>
			</tr>
		{% else %}
			<tr>
				<td> Product </td>
				<td> {{ page.products | escape }} </td>
			</tr>
		{% endif %}
		{% if page.versions[0] %}
			<tr>
				<td>  Versions </td>
				<td> 
					<ul>
						{% for v in page.versions %}
							<li>{{ v | escape }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% else %}
			<tr>
				<td>  Versions </td>
				<td> {{ page.versions | escape }} </td>
			</tr>
		{% endif %}
		{% if page.owner != page.author -%}
			<tr>
				<td> Page author </td>
				<td>
					{% if team contains page.author %}
						<a href='https://www.divd.nl/team/{{ page.author }}/'>{{ page.author }}</a>
					{% else %}
						{{ page.author }}
					{% endif %}
				</td>
			</tr>
		{% endif %}
		<tr>
			<td> CVSS Base Score </td>
			<td> <a href='{{ page.cvss.url }}'>{{ page.cvss.score }}</a></td>
		</tr>
	</tbody>
</table>

{{ content }} 		

<br>

{% include disclaimer.html %}
