---
layout: page
title: Blog
nav_position: 1
---
{% include paginator.html %}
{% assign team = site.team | map: "name" %}

{% for post in paginator.posts %}
	{% assign post_author =  post.author | default: "anonymous" %}
	<hr>
	<div class="newsitem">
	  <h3>
	    <a href="{{ post.url }}">{{ post.title }}</a>
	    <em>{{ post.date | date_to_long_string }}, by 
	    {% if team contains post_author %}
	    	<a href='https://www.divd.nl/team/{{ post_author.md }}.md'>{{ post_author }}</a>
	    {% else %}
			{{ post_author }}
		{% endif %}
		</em>
	  </h3>
	  <p>{{ post.excerpt | escape }}</p>
	  <a href="{{ post.url }}">Read more</a>
	</div>
{% endfor %}

{% include paginator.html %}