{%- comment -%}
Example:
// <nav class="nav">
//   <ul class="menu">
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//     <li class="menu-item has-children">
//       <a href="/path/to/.../">...
//         <span class="dropdown-icon"></span>
//       </a>
//       <ul class="sub-menu">
//         <li class="menu-item">
//           <a href="/path/to/.../">...</a>
//         </li>
//         <li class="menu-item">
//           <a href="/path/to/.../">...</a>
//         </li>
//       </ul>
//     </li>
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//   </ul>
// </nav>
{%- endcomment -%}

<nav class="nav nav--cen no-print">
	<div id="menuBtn" class="icon">
		<i class="fa fa-bars"></i> Menu
	</div>
	<ul class="menu no-print" id="nav_menu">
		{%- for item in site.data.navigation -%}
			{%- if item.link == "/cases/" -%}
		    	<li class="menu-item has-children">
		    		<a href="/cases/" {%- if page.url == item.link %} class="black_url"{%- endif -%}> 
						Cases <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
   						{%- assign cases = site.cases |reverse -%}
				    	{%- for p in cases -%}
				    		{%- if forloop.index <= 20 -%}
		    					<li class="menu-item">
			    					<a href="{{ p.url }}" {%- if page.url == p.url %} class="black_url"{%- endif -%}>
			    						{{ p.title | slice: 0, 75 | escape }}<br>
			    						{{ p.excerpt | slice: 0, 75 | escape }}...
			    					</a>
			    				</li>
			    			{%- endif -%}
			    		{%- endfor -%}
    					<li class="menu-item">
				    		<a href="/cases/"> 
								All cases
							</a>
	    				</li>
			    	</ul>
		    	</li>
			{%- elsif item.link == "/blog/" -%}
		    	<li class="menu-item has-children">
		    		<a href="/blog/" {%- if page.url == item.link %} class="black_url"{%- endif -%}> 
						Blog <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
						{%- for post in site.posts -%}
							{%- if forloop.index <= 10 -%}
							    <li class="menu-item">
							        <a href="{{ post.url | prepend: site.baseurl | uri_encode }}" {%- if page.url == post.url %} class="black_url"{%- endif -%}> {{ post.date | date: "%Y-%m-%d" }} : {{ post.title | slice: 0, 75 | escape }}...</a>
							    </li>
							{%- endif -%}
						{%- endfor -%}
					    <li class="menu-item">
					        <a href="/blog"> More...</a>
					    </li>
			    	</ul>
		    	</li>
			{%- elsif item.link == "/cves/" -%}
				{%- assign cveList = "" -%}
				{%- for year in site.data.cves -%}
					{%- assign y = year[0] -%}
					{%- for cve in site.data.cves[y] -%}
						{%- assign cveList = cveList | append: "," | append: y | append: "/" | append: cve[0] -%}
					{%- endfor -%}
				{%- endfor -%}
				{%- assign cveList = cveList | remove_first: "," | split: "," | reverse -%}
		    	<li class="menu-item has-children">
		    		<a href="/cves/" {%- if page.url == item.link %} class="black_url"{%- endif -%}> 
						CVEs <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
						{%- for id in cveList -%}
							{%- if forloop.index <= 10 -%}
								{%- assign ids = id | split: "/" -%}
								{%- assign year = ids[0] -%}
								{%- assign cveId = ids[1] -%}
								{%- assign title = site.data.cves[year][cveId]["containers"]["cna"]["title"] -%}
								{%- capture url -%}/cves/{{ cveId }}/{%- endcapture -%}
							    <li class="menu-item">
							        	<a href="{{ url }}" {%- if page.url == url %} class="black_url"{%- endif -%}> {{ cveId }} - {{ title | slice: 0, 60 | escape }}...</a>
							    </li>
							{%- endif -%}
							{%- if forloop.index == 11 -%}
							    <li class="menu-item">
							        	<a href="/cves/" {%- if page.url == "/cves/" %} class="black_url"{%- endif -%}> More...</a>
							    </li>
							{%- endif -%}
						{%- endfor -%}
			    	</ul>
		    	</li>
			{%- elsif item.link == "/faq/" -%}
		    	<li class="menu-item has-children">
		    		<a href="/faq/" {%- if page.url == item.link %} class="black_url"{%- endif -%}> 
						FAQ <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
   						{%- assign pages = site.pages -%}
				    	{%- for p in pages -%}
		    				{%- if p.url contains "/faq/" and p.url != "/faq/" -%}
		    					<li class="menu-item">
			    					<a href="{{ p.url }}" {%- if page.url == p.url %} class="black_url"{%- endif -%}>
			    						{{ p.title | slice: 0, 40 | escape }}...
			    					</a>
			    				</li>
			    			{%- endif -%}
			    		{%- endfor -%}
			    	</ul>
		    	</li>
			{%- else -%}
				{%- if item.children -%}
			    	<li class="menu-item has-children">
						<a href="{{ item.link }}" {%- if page.url == item.link %} class="black_url"{%- endif -%}>
							{{ item.name }} <span class="dropdown-icon"></span>
						</a>
	   					<ul class="sub-menu">
					    	{%- for c in item.children -%}
		    					<li class="menu-item">
			    					<a href="{{ c.link }}">{{ c.name | escape }}</a>
			    				</li>
				    		{%- endfor -%}
				    	</ul>
			    	</li>
				{%- else -%}
				<li class="menu-item">
					<a href="{{ item.link }}" {%- if page.url == item.link %} class="black_url"{%- endif -%}>
						{{ item.name }}
					</a>
				</li>
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	</ul>
</nav>
