<h2>Timeline</h2>
<table>
	<thead>
		<tr>
			<th>
				Date
			</th>
			<th>
				Description
			</th>
		</tr>
	</thead>
	<tbody>
		{%- for line in page.timeline -%}
			<tr>
				{%- if line.include -%}
					{% assign case = site.cases | where:"divd", line.include | first %}
					<td>
						<span class="nowrap">{{ case.start | date_to_string }}</span>
						{%- if case.end -%} 
							{%- if case.status == "open" -%}
								<br> ?
							{%- else -%}
								- <br><span class="nowrap">{{ case.end | date_to_string }}</span>
							{%- endif -%}
						{%- endif -%}
					</td>
					<td>
						<a href="/{{case.divd }}/">Case: {{ case.title | markdownify | remove: '<p>' | remove: '</p>' }}</a>
					</td>
				{%- else -%}
					<td>
						<span class="nowrap">{{ line.start | date_to_string }}</span>
						{%- if line.end -%} 
							{%- if line.end == "open" -%}
								<br> ?
							{%- else -%}
								- <br><span class="nowrap">{{ line.end | date_to_string }}</span>
							{%- endif -%}
						{%- endif -%}
					</td>
					<td>
						{{ line.event | markdownify | remove: '<p>' | remove: '</p>' }}
					</td>
				{%- endif -%}
			</tr>
		{%- endfor -%}
	</tbody>
</table>