{% include header.html %}

{% if page.title == "frontpage" %}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <img src="images/DIVDlogotransparent.png" alt="DIVD logo"><p>Launched: 1 October 2019</p>
    </div>
</section>

<section class="wrapper">
    <div class="inner content">
        {{ content }}
    </div>
</section>
{% else %}
{% include navigation.html %}

<!-- Heading -->
<div id="heading" >
    <h1>{{ page.header | default: page.title }}</h1>
</div>

<section id="main" class="wrapper">
    <div class="inner content">
        {{ content }}
    </div>
</section>
{% endif %}

{% include footer.html %}
