---
layout: default
---
<h1>{{ page.name }}</h1>

{{ content | markdownify }}
<br>
{% if page.twitter or page.linkedin or page.wikipedia %}
<h2>Social media</h2>
{% endif %}
{% if page.twitter %}
<a href="https://twitter.com/{{ page.twitter }}" class="icon fa-twitter"><span class="label">Icon</span> - {{ page.twitter }}</a>
<br>
{% endif %}
{% if page.linkedin %}
<a href="https://www.linkedin.com/in/{{ page.linkedin }}" class="icon fa-linkedin"><span class="label">Icon</span> - {{ page.name }}</a>
<br>
{% endif %}
{% if page.wikipedia %}
<a href="{{ page.wikipedia }}" class="icon fa-wikipedia-w"><span class="label">Icon</span> - {{ page.name }}</a>
<br>
{% endif %}

{% include 
	posts-cases.html 
	name = page.name
%}

