---
layout: page
title: Blog
nav_position: 1
---
{%- include paginator.html -%}

{%- for post in paginator.posts -%}
	<hr>
	<div class="newsitem">
	  <h3>
	    <a href="{{ post.url }}">{{ post.title }}</a>
	    <em>{{ post.date | date_to_long_string }}, by 
	    	{% if post.author[0] -%}
	    		{%- assign first = true -%}
	    		{%- for post_author in post.author -%}
	    			{%- if first -%}
	    				{%- assign first = fase -%}
	    			{%- else -%}
	    				,
	    			{%- endif -%}
					{% include person.html p=post_author %}
				{%- endfor -%}
	    	{%- else -%}
				{%- assign post_author =  post.author | default: "anonymous" -%}
				{% include person.html p=post_author %}
			{%- endif -%}
			</em>
	  </h3>
	  <p>{{ post.excerpt | escape }}</p>
	  <a href="{{ post.url }}">Read more</a>
	</div>
{%- endfor -%}
<hr>

{%- include paginator.html -%}