    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="content">
                <ul class="plain">
                    <li><a href="https://twitter.com/DIVDnl"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                    <li><a href="https://github.com/DIVD-NL"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                </ul>
            </div>
    </footer>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    {% for script in page.scripts %}
        <script type="text/javascript" src="/assets/js/{{ script }}"></script>
    {% endfor %}
    <bla></bla>
</body>
</html>
