<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>DIVD{% unless page.title == "frontpage" %} / {{ page.title  | capitalize }}{% endunless %}</title>

    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{{ page.description | default: site.description}}">
    <meta name="keywords" content="">

    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta name="theme-color" content="#fffb00">
</head>
<body class="is-preload">
