<!-- Header -->
<header id="header">
    {% if page.url contains "/reports/" and page.title != "reports" %}
    <span class="logo"><a href="/">DIVD</a> / <a href="/reports/">Reports</a> / {{ page.title | capitalize }}</span>
    {% elsif page.layout == "news" %}
    <span class="logo"><a href="/">DIVD</a> / <a href="/news/">News</a> / {{ page.title | capitalize }}</span>
    {% else %}
    <span class="logo"><a href="/">DIVD</a> / {{ page.title | capitalize }}</span>
    {% endif %}
    <nav><a href="#menu">Menu</a></nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="team">Team</a></li>
        <li><a href="code">Code of Conduct</a></li>
        <li><a href="news">News</a></li>
        <li><a href="reports">Reports</a></li>
        <li><a href="https://csirt.divd.nl/">CSIRT</a></li>
        <li><a href="partners">Partners</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="donate">Donate</a></li>
        <!-- <li><a href="goto">Go to</a></li> -->
    </ul>
</nav>
