{% assign found = false %}
{% assign blog = false %}
{% for p in site.posts %}
  {% if p.author == include.name %}
    {% assign found = true %}
    {% assign blog = true %}
  {% endif %}
{% endfor %}


{% for c in site.cases %}
  {% if c.author contains include.name or c.lead == include.name or c.researchers contains include.name %}
    {% assign found = true %}
    {% assign cases = true %}
  {% endif %}
{% endfor %}

{% for p in site.csirt_posts %}
  {% if p.author contains include.name %}
    {% assign found = true %}
    {% assign csirt_blog = true %}
  {% endif %}
{% endfor %}

{% assign cve_discovered =  '' | split: '' %}
{% assign cve_contributed = '' | split: '' %}
{% for c in site.cves %}
  {% assign credited = c.json.credit | where: "value", include.name %}
  {% if c.author == include.name or c.discovered_by contains include.name or c.researchers contains include.name or credited.size > 0 %}
    {% assign found = true %}
    {% assign cve = true %}
    {% if c.discovered_by contains include.name %}
      {% assign cve_discovered =  cve_discovered  | push: c %}
    {% else %}
      {% assign cve_contributed = cve_contributed | push: c %}
    {% endif %}
  {% endif %}
{% endfor %}
{{ cve_contributed }}



{% if found %}
  <br>
  <br>
  <h1>Articles / cases / cves </h1>

  {% if blog %}
    <h3>Blog posts</h3>

    <ul>
    {% for p in site.posts %}
      {% if p.author == include.name %}
      <li>
    	<a href='{{ p.url }}'>{{ p.date | date_to_long_string }} - {{ p.title }}</a>
      </li>
      {%- endif -%}
    {% endfor %}
    </ul>
  {% endif %}

  {% if cases %}
    <h3>CSIRT Cases</h3>

    <ul>
      {% assign rev_cases = site.cases | reverse %}
      {% for c in rev_cases %}
        {% if c.author contains include.name or c.lead == include.name or c.researchers contains include.name %}
          <li>
            <a href='https://csirt.divd.nl/{{ c.divd }}'>{{ c.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if cve_discovered.size > 0 %}
    <h3>CVEs discovered</h3>

    <ul>
      {% for c in cve_discovered %}
        <li>
          {% if c.json %}
            {% assign cve_title = c.json.description.description_data | where: "lang", "eng" %}
            {% capture cve_title %}{{ cve_title[0].value }}{% endcapture %}
            <a href='https://csirt.divd.nl{{ c.url }}'>{{ c.json.CVE_data_meta.ID | escape }} - {{ cve_title | escape }}</a>
          {% else %}
            <a href='https://csirt.divd.nl{{ c.url }}'>{{ c.cve | escape }} - {{ c.title | escape }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}


  {% if cve_contributed.size > 0 %}
    <h3>CVEs contributed to</h3>

    <ul>
      {% for c in cve_contributed %}
        <li>
          {% if c.json %}
            {% assign cve_title = c.json.description.description_data | where: "lang", "eng" %}
            {% capture cve_title %}{{ cve_title[0].value }}{% endcapture %}
            <a href='https://csirt.divd.nl{{ c.url }}'>{{ c.json.CVE_data_meta.ID | escape }} - {{ cve_title | escape }}</a>
          {% else %}
            <a href='https://csirt.divd.nl{{ c.url }}'>{{ c.cve | escape }} - {{ c.title | escape }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if csirt_blog %}
    <h3>CSIRT blog posts</h3>

    <ul>
      {% assign rev_posts = site.csirt_posts | reverse %}
      {% for p in rev_posts %}
        {% if p.author contains include.name %}
          <li>
            <a href='https://csirt.divd.nl{{ p.url }}'>{{ p.date | date_to_long_string }} - {{ p.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}



{% endif %}