---
layout: default
---
<h1>{{ page.title | escape }}</h1>

{%- assign team = site.team | map: "name" -%}
{%- assign lead = page.lead | default: page.author -%}

<table>
	<tbody>
	    <tr>
			<td> Our reference </td><td> {{ page.divd | divd }} </td>
		</tr><tr>
			<td> Case lead </td><td>
				{%- if team contains lead -%}
					<a href='https://www.divd.nl/team/{{ lead | uri_escape }}/'>{{ lead }}</a>
				{%- else -%}
					{{ lead }}
				{%- endif -%}
			</td>
		</tr>
		{%- if lead != page.author -%}
			<tr>
				<td> Author </td>
				<td>
					{%- if page.product[0] -%}
						<ul>
							{%- for author in page.author -%}
								<li>
									{%- if team contains author -%}
										<a href='https://www.divd.nl/team/{{ author | uri_escape }}/'>{{ author }}</a>
									{%- else -%}
										{{ author }}
									{%- endif -%}
								</li>
							{%- endfor -%}
						</ul>
					{%- else -%}
						{%- if team contains page.author -%}
							<a href='https://www.divd.nl/team/{{ page.author | uri_escape }}/'>{{ page.author }}</a>
						{%- else -%}
							{{ page.author }}
						{%- endif -%}
					{%- endif -%}
				</td>
			</tr>
		{%- endif -%}
		{%- if page.researchers -%}
			<tr>
				<td> Researcher(s) </td>
				<td>
					<ul>
						{%- for r in page.researchers -%}
							<li>
								{%- if team contains r -%}
									<a href='https://www.divd.nl/team/{{ r | uri_escape }}/'>{{ r }}</a>
								{%- else -%}
									{{ r }}
								{%- endif -%}
							</li>
						{%- endfor -%}
					</ul>
				</td>
			</tr>
		{%- endif -%}
		{%- if page.cves -%}
			<tr>
				<td> CVE(s) </td>
				<td>
					<ul>
						{%- for cve in page.cves -%}
							<li>
								{{ cve | cve }}
							</li>
						{%- endfor -%}
					</ul>
				</td>
			</tr>
		{%- endif -%}
		{%- if page.product[0] -%}
			<tr>
				<td> Products </td>
				<td> 
					<ul>
						{%- for p in page.product -%}
							<li>{{ p | escape }}</li>
						{%- endfor -%} 
				</ul>
				</td>
			</tr>
		{%- elsif page.product -%}
			<tr>
				<td> Product </td>
				<td> {{ page.product | escape }} </td>
			</tr>
		{%- endif -%}
		{%- if page.versions[0] -%}
			<tr>
				<td>  Versions </td>
				<td> 
					<ul>
						{%- for v in page.versions -%}
							<li>{{ v | escape }}</li>
						{%- endfor -%}
					</ul>
				</td>
			</tr>
		{%- elsif page.versions -%}
			<tr>
				<td>  Versions </td>
				<td> {{ page.versions | escape }} </td>
			</tr>
		{%- endif -%}
		<tr>
			<td> Recommendation </td>
			<td> {{ page.recommendation | escape }} </td>
		</tr>
		{%- if page.patch_status -%}
			<tr>
				<td> Patch status </td>
				<td> {{ page.patch_status | escape }} </td>
			</tr>
		{%- endif -%}
		{%- if page.workaround -%}
			<tr>
				<td> Workaround </td>
				<td> {{ page.workaround | escape }} </td>
			</tr>
		{%- endif -%}
		<tr>
			<td> Status </td><td> {{ page.status }} </td>
		</tr>
		<tr>
			<td>
				Last modified
			</td>
			<td>
				{{ page.last_modified_at | date: "%d %b %Y %H:%M"}}
			</td>
		</tr>
	</tbody>
</table>


{{ content }}

<br>

{%- include disclaimer.html -%}
