---
layout: page
---
<h1>{{ page.title }}</h1>
<p>
	{{ page.date | date_to_string }} -
	{% if page.author[0] %}
		{% assign fist = true %}
		{% for a in page.author %}
			{% if first %}
				{% assign first = false %}
			{% else %}
				,
			{% endif %}
			{% assign page_author = a | default: "anonymous" %}
			{% include person.html p=page_author %}
		{% endfor %}
	{% else %}
		{% assign page_author = page.author | default: "anonymous" %}
		{% include person.html p=page_author %}
	{% endif %}
</p>
{{ content }}

<hr>
Last modified: {{ page.last_modified_at | date: "%d %b %Y %H:%M"}}

