---
layout: default
---
<header>
    <h2>{{ page.title }}</h2>
    <span>{{ page.date }} by <a href='/team/{{ page.author }}'>{{ page.author }}</a></span>
</header>

Case lead: <a href='/team/{{ page.lead }}/'>{{ page.lead }}</a><br>
CSIRT:
{% assign first = true %} 
{% for c in page.csirt %}
	{% if first %}
		{% assign first = false %}
	{% else %}
		,
	{% endif %}
	<a href='/team/{{ c }}/'>{{ c }}</a>
{% endfor %}<br>
Researchers: 
{% assign first = true %} 
{% for c in page.researchers %}
	{% if first %}
		{% assign first = false %}
	{% else %}
		,
	{% endif %}
	<a href='/team/{{ c }}/'>{{ c }}</a>
{% endfor %}

<p>
{{ content }}
</p>