{% comment %}
Example:
// <nav class="nav">
//   <ul class="menu">
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//     <li class="menu-item has-children">
//       <a href="/path/to/.../">...
//         <span class="dropdown-icon"></span>
//       </a>
//       <ul class="sub-menu">
//         <li class="menu-item">
//           <a href="/path/to/.../">...</a>
//         </li>
//         <li class="menu-item">
//           <a href="/path/to/.../">...</a>
//         </li>
//       </ul>
//     </li>
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//   </ul>
// </nav>
{% endcomment %}

<nav class="nav nav--cen">
	<a id="menuBtn" class="icon">
		<i class="fa fa-bars"></i> Menu
	  </a>
	<ul class="menu" id="nav_menu">
		{% for item in site.data.navigation %}
			{% if item.link == "/cases/" %}
		    	<li class="menu-item has-children">
		    		<a href="/cases/" {% if page.url == item.link %}class="black_url"{% endif %}> 
						Cases <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
   						{% assign cases = site.cases |reverse %}
				    	{% for p in cases %}
	    					<li class="menu-item">
		    					<a href="{{ p.url }}" {% if page.url == p.url %}class="black_url"{% endif %}>
		    						{{ p.title | slice: 0, 75 | escape }}<br>
		    						{{ p.short | slice: 0, 75 | escape }}...
		    					</a>
		    				</li>
			    		{% endfor %}
			    	</ul>
		    	</li>
			{% elsif item.link == "/blog/" %}
		    	<li class="menu-item has-children">
		    		<a href="/blog/" {% if page.url == item.link %}class="black_url"{% endif %}> 
						Blog <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
						{% for post in site.posts %}
							{% if forloop.index <= 10 %}
							    <li class="menu-item">
							        <a href="{{ post.url | prepend: site.baseurl | uri_encode }}" {% if page.url == post.url %}class="black_url"{% endif %}> {{ post.date | date: "%Y-%m-%d" }} : {{ post.title | slice: 0, 75 | escape }}...</a>
							    </li>
							{% endif %}
						{% endfor %}
					    <li class="menu-item">
					        <a href="/blog"> More...</a>
					    </li>
			    	</ul>
		    	</li>
			{% elsif item.link == "/cves/" %}
				{% assign cvepages = site.cves |reverse %}
		    	<li class="menu-item has-children">
		    		<a href="/cves/" {% if page.url == item.link %}class="black_url"{% endif %}> 
						CVEs <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
						{% for page in cvepages %}
							{% if forloop.index <= 10 %}
							    <li class="menu-item">
									{% if page.json %}
										{% assign cve_title = page.json.description.description_data | where: "lang", "eng" %}
										{% capture cve_title %}{{ cve_title[0].value }}{% endcapture %}
							        	<a href="{{ page.url | prepend: site.baseurl | uri_encode }}" {% if page.url == post.url %}class="black_url"{% endif %}> {{ page.json.CVE_data_meta.ID }} - {{ cve_title | slice: 0, 60 | escape }}...</a>
									{% else %}
							        	<a href="{{ page.url | prepend: site.baseurl | uri_encode }}" {% if page.url == post.url %}class="black_url"{% endif %}> {{ page.cve }} - {{ page.title | slice: 0, 60 | escape }}...</a>
							        {% endif %}
							    </li>
							{% endif %}
						{% endfor %}
			    	</ul>
		    	</li>
			{% elsif item.link == "/faq/" %}
		    	<li class="menu-item has-children">
		    		<a href="/faq/" {% if page.url == item.link %}class="black_url"{% endif %}> 
						FAQ <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
   						{% assign pages = site.pages %}
				    	{% for p in pages %}
		    				{% if p.url contains "/faq/" and p.url != "/faq/" %}
		    					<li class="menu-item">
			    					<a href="{{ p.url }}" {% if page.url == p.url %}class="black_url"{% endif %}>
			    						{{ p.title | slice: 0, 40 | escape }}...
			    					</a>
			    				</li>
			    			{% endif %}
			    		{% endfor %}
			    	</ul>
		    	</li>
			{% else %}
				{% if item.children %}
			    	<li class="menu-item has-children">
						<a href="{{ item.link }}" {% if page.url == item.link %}class="black_url"{% endif %}>
							{{ item.name }} <span class="dropdown-icon"></span>
						</a>
	   					<ul class="sub-menu">
					    	{% for c in item.children %}
		    					<li class="menu-item">
			    					<a href="{{ c.link }}">{{ c.name | escape }}</a>
			    				</li>
				    		{% endfor %}
				    	</ul>
			    	</li>
				{% else %}
				<li class="menu-item">
					<a href="{{ item.link }}" {% if page.url == item.link %}class="black_url"{% endif %}>
						{{ item.name }}
					</a>
				</li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
</nav>
