{% assign current_year = 0 %}
{% assign cases = 0 %}
{% assign ips = 0 %}
{% assign stats = '' | split: "," %}
{% for c in site.cases %}
  {% assign case_arr = c.divd | split: "-" %}
  {% capture year %}{{ case_arr[1] }}{% endcapture %}
  {% assign year = year | to_integer %}
  {% if year > current_year %}
    {% capture stat %}{{ current_year }}|{{ cases }}|{{ ips }}{% endcapture %}
    {% assign stats = stats | push: stat %}
    {% assign current_year = year %}
    {% assign cases = 0 %}
    {% assign ips = 0 %}
  {% endif %}
  {% assign cases = cases | plus: 1 %}
  {% assign ips = ips | plus: c.ips %}
{% endfor %}
{% capture stat %}{{ year }}|{{ cases }}|{{ ips }}{% endcapture %}
{% assign stats = stats | push: stat %}

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th class="right-align"># of cases</th>
      <th class="right-align"># of vulnerable IPs notified</th>
    </tr>
  </thead>
  <tbody>
{% for s in stats %}
  {% if s != "0|0|0" %}
    {% assign stat = s | split: "|" %}
    {% assign ips = stat[2] | to_integer %}
    <tr>
      <td>{{ stat[0] }}</td>
      <td class="right-align">{{ stat[1] }}</td>
      <td class="right-align">{% include numf.html number=ips decimals=0 ts=',' %}</td>
    </tr>
  {% endif %}
{% endfor %}
</tbody>
</table>