{% assign current_year = 0 %}
{% assign years = '' | split: "," %}
{% for c in site.cases %}
  {% assign case_arr = c.divd | split: "-" %}
  {% capture year %}{{ case_arr[1] }}{% endcapture %}
  {% assign year = year | to_integer %}
  {% if year > current_year %}
    {% assign years = years | push: year %}
    {% assign current_year = year %}
  {% endif %}
{% endfor %}
{% assign years = years | reverse %}

{% for year in years %}
	{% capture yearStart %}{{ year }}-01-01{% endcapture %}
	{% capture yearEnd %}{{ year | plus: 1 }}-01-01{% endcapture %}
	{% assign yearStart = yearStart | date: "%s" %}
	{% assign yearEnd   = yearEnd   | date: "%s" %}

<div class="mermaid">
	gantt
	    title       Cases in {{ year }}
	    dateFormat  YYYY-MM-DD
	    axisFormat  %e %b %Y
		{% for c in site.cases %}
			{% comment %} convert our dates to Number of seconds since 1970-01-01 00:00:00 UTC {% endcomment %}
			{% assign caseStart = c.start | date: '%s' %}
			{% assign caseEnd   = c.end   | date: '%s' %}

			{% if c.end %}
				{% comment %} difference in seconds {% endcomment %}
				{% assign diffSeconds = caseEnd | minus: caseStart %}

				{% comment %} difference in days {% endcomment %}
				{% assign caseDuration = diffSeconds | divided_by: 3600 | divided_by: 24 %}
				{% capture caseDuration %}{{ caseDuration }} days{% endcapture %}
			{% else %}
				{% assign caseDuration = "open" %}
				{% assign caseEnd = yearEnd %}
			{% endif %}

			{% if caseStart < yearEnd and caseEnd >= yearStart }
				{% assign pre = "" %}
				{% assign post = "" %}
				{% assign barStart = c.start | date: '%s' %}
				{% if c.end %}
					{% assign barEnd = caseEnd %}
				{% else %}
					{% assign barEnd = yearEnd %}
				{% endif %}
				{% if caseStart < yearStart %}
					{% assign pre=c.start|date: "%e %b %Y - " %}
					{% assign barStart = yearStart %}
				{% endif %}
				{% if barEnd >= yearEnd %}
					{% if c.end %}
						{% assign post=c.end|date: "%e %b %Y - " %}
					{% else %}
						{% assign post = "" %}
					{% endif %}
					{% assign barEnd = yearEnd %}
				{% endif %}
		    	{{ pre }}{{ c.title | remove: ':' }} ({{caseDuration}}){{ post }}            :{{ barStart | date: "%Y-%m-%d" }}, {{ barEnd | date: "%Y-%m-%d" }}
		    {% endif %}
		{% endfor %}
</div>

{% endfor %}
